@import '../../styles/colors.scss';

.login {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;

	form {
		display: flex;
		flex-direction: column;
		background-color: $white;
		padding: 2.8571rem;
		border-radius: 8px;
		align-self: center;
		box-shadow: 0 1px 3px -1px $black;
		width: 28.5714rem;

		h2 {
			color: $primaryDark;
			text-align: center;
			font-size: 1.4286rem;
			text-transform: uppercase;
		}

		div.container {
			margin-top: 1.1429rem;
		}

		button {
			margin-top: 2.2857rem;
		}

		.link {
			text-align: center;
			color: $primary;
			text-transform: lowercase;
			cursor: pointer;
			margin-top: 1.1429rem;

			&:hover {
				text-decoration: underline;
				opacity: 0.9;
			}
		}
	}
}
